#Catkin generated directories
ROS_WS/build/
ROS_WS/devel/
ROS_WS/Pt_Cloud_Scripts/points_coordinates.csv
ROS_WS/Pt_Cloud_Scripts/inactive_points_coordinates.csv
ROS_WS/robot_arm_ws/build/
ROS_WS/robot_arm_ws/devel/
ROS_WS/robot_arm_ws/src/robotiq/
ROS_WS/robot_arm_ws/src/universal_robot/
ROS_WS/robot_arm_ws/src/Universal_Robots_ROS_Driver/
ROS_WS/robot_arm_ws/src/ur_modern_driver/
ROS_WS/robot_arm_ws/src/ur_msgs/
ROS_WS/robot_arm_ws/src/CMakeLists.txt




Gazebo_Simulation/Contact_Sensor/build
Gazebo_Simulation/Pt_Cloud_Scripts/contacts_coordinates.csv
Gazebo_Simulation/Pt_Cloud_Scripts/filtered_contacts_coordinates.csv
.vscode
*.zip

