<?xml version="1.0" ?>
<robot name="ur5e_2f85" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
	
	<!-- WORLD -->
	<link name="world"/>

	<!-- TABLE -->
	<xacro:include filename="$(find coro_descriptions)/urdf/common/coro_small_vention_table.urdf.xacro"/>
	<xacro:coro_small_vention_table prefix=""/>
	<joint name="table_to_world" type="fixed">
		<parent link="world"/>
		<child link="table_base"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<!-- Table top -->

	<link name='table_top'>
		<inertial>
			<origin xyz="1.41182e-16 -6.13716e-17 -0.00229716" rpy="0 0 0"/>
			<mass value="1.88145" />
			<inertia ixx="0.132708" ixy="0"  ixz="0" iyy="0.0587177" iyz="0" izz="0.191419" />
		</inertial>
		<collision>
			<origin xyz="0 0 -0.0047" rpy="0 0 0" />
			<geometry>
				<mesh filename= "package://coro_descriptions/meshes/table_top.stl"/>
			</geometry>
		    <material name="table_top_material">
				<color rgba="0.615686 0.811765 0.929412 1.0"/>
			</material>
		</collision>
		<visual>
			<geometry>
				<mesh filename= "package://coro_descriptions/meshes/table_top.stl"/>
			</geometry>
		    <material name="table_top_material">
				<color rgba="0.615686 0.811765 0.929412 1.0"/>
			</material>>
		</visual>
	</link>

	<joint name='table_top_to_table_base' type='fixed'>
		<origin xyz="0.004217 -0.201201 0.97025" rpy="0 0 1.57"/>
		<parent link="table_base"/>
		<child link="table_top"/>
	</joint>

	<!-- ROBOT -->
	<xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
	<xacro:ur5e_robot prefix="" kinematics_parameters_file="$(arg kinematics_config)"/>
	<joint name="robot_to_table" type="fixed">
		<parent link="robot_mount"/>
		<child link="base_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>
	
	<!-- GRIPPER COUPLING -->
	<xacro:include filename="$(find coro_descriptions)/urdf/common/2f_coupling.urdf.xacro"/>
	<xacro:coupling_robotiq_2f prefix="" parent="tool0">
		<origin xyz="0 0 0.01" rpy="0 0 0"/>
	</xacro:coupling_robotiq_2f>
   	
	<!-- GRIPPER -->

	<xacro:include filename="$(find allegro_hand_gazebo)/allegro_hand_description/urdf/allegro_hand_description_right.urdf.xacro"/>
	<xacro:allegro_hand_right prefix="" parent="coupling_gripper_fix">
		<origin xyz="0 -0.041 0.105" rpy="0 0 0"/>
	</xacro:allegro_hand_right>
    	
	<link name="tcp"/>
	<joint name="tcp_to_gripper" type="fixed">
		<parent link="tool0"/>
		<child link="tcp"/>
		<origin xyz="0 0 0.165" rpy="0 0 0"/>
	</joint>

	<!-- OBJECT TO GRASP -->
    <link name="triangular_object_link">
		<visual>
		<origin xyz="0 0 0" rpy="0 -0 0" />
		<geometry>
		<mesh filename="package://coro_descriptions/meshes/triangular_object.stl"/>
		</geometry>
		<material name="link_testing_object_material">
			<color rgba="0.615686 0.811765 0.929412 1.0"/>
		</material>
		</visual>
		<collision>
		<origin xyz="0 0 0" rpy="0 -0 0" />
		<geometry>
		<mesh filename="package://coro_descriptions/meshes/triangular_object.stl"/>
		</geometry>
		<material name="link_testing_object_material">
			<color rgba="0.615686 0.811765 0.929412 1.0"/>
		</material>
		</collision>
		<inertial>
		<origin xyz="-1.02566e-17 9.23364e-19 0.1075" rpy="0 0 0"/>
		<mass value="0.0770781" />
		<inertia ixx="0.000307188" ixy="0"  ixz="0" iyy="0.000307188" iyz="0" izz="2.05542e-05" />
		</inertial>
    </link>

	<joint name='object_to_table' type='fixed'>
		<origin xyz="-0.0049 -0.2062 1.23145" rpy="0 0 0.0206751"/> <!-- Modified elevation along the Z axis to avoid object's interferance with the table top which causes undesired vibrations in gazebo -->
    	<parent link="table_base"/>
    	<child link="triangular_object_link"/>
    </joint>


	<!-- GAZEBO -->
	<gazebo>
    		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      			<robotNamespace>/</robotNamespace>
      			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    		</plugin>
  	</gazebo>
</robot>
